body {
    margin: 0;
    padding: 0;
    background-color: #EEF3FA;
}

header {
    width: 210mm;
    margin: 1px auto 0;
    padding: 0 75px 0;
    background-color: #161B25;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}

header figure {
    margin: 0;
    padding: 85px 0 50px;
    width: 35%;
    background-color: #FFFFFF1a;
}

header figure img {
    width: 100%;
}

@font-face {
    font-family: MontserratAlternatesBold;
    src: url('../fonts/MontserratAlternates-Bold.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: MontserratBold;
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: MontserratAlternates;
    src: url('../fonts/MontserratAlternates-Regular.ttf');
}

@font-face {
    font-family: MontserratAlternatesBold;
    src: url('../fonts/MontserratAlternates-SemiBold.ttf');
}

@font-face {
    font-family: AvantGardeGothicC;
    src: url('../fonts/avantgardegothicc-bold.otf');
}

#id_baseInfo {
    margin: 85px 0 50px 7%;
    padding: 0;
    width: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: gray; */
}

#id_PIB {
    margin: 0;
    padding: 0;
    font-family: MontserratAlternatesBold;
    font-size: 3.25em;
}

#id_vacancy {
    margin: 10px 0 15px;
    padding: 2px 12px;
    font-family: MontserratAlternates;
    font-size: 1.55em;
    background-color: #FFFFFF1a;
}

#id_contacts {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: AvantGardeGothicC;
    font-weight: bolder;
    font-size: 1em;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#id_contacts p {
    margin: 15px 0 7.5px;
    padding: 0;
}

.class_column {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#id_contacts a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-family: MontserratAlternates;
    font-weight: lighter;
}

#id_contacts div {
    margin: 0;
    padding: 0;
    width: 200px;
}

main {
    width: 210mm;
    margin: 0 auto 1px;
    padding: 0 75px 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}

main aside {
    margin: 0;
    padding: 0 0 85px;
    width: 35%;
    background-color: #171c261a;
}

aside article {
    margin: 0;
    padding: 50px 0 0;
}

aside article p {
    margin: 0;
    padding: 0;
    font-family: MontserratBold;
    font-size: 1.75em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#id_hobby {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 20px 20%;
}

#id_educational p {
    padding: 0;
    margin: 7px 0 0;
    font-family: Montserrat;
    font-size: 0.95em;
}

.class_ed_part {
    padding: 0 0 0 22%;
    margin: 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #555555;
}

#id_educational p span {
    font-size: 0.85em;
}

#id_hobby_div {
    padding: 0 0 0 20%;
    margin: 0;
    font-family: MontserratAlternatesBold;
    font-size: 0.85em;
    color: #555555;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#id_hobby_div figure {
    width: 100%;
    margin: 25px 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#id_hobby_div figure img {
    width: 7%;
    margin: 0 20px 0 0;
    padding: 0;
}

section {
    margin: 0 0 0 7%;
    padding: 0 0 85px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

section article {
    width: 100%;
    margin: 0;
    padding: 50px 0 0;
}

section article p {
    margin: 0;
    padding: 0;
    font-family: MontserratBold;
    font-size: 1.75em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #161b25;
}

.class_experience {
    margin: 40px 0 0;
    font-family: Montserrat;
}

.class_exp_1 {
    margin: 10px 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.class_exp_1 p {
    font-size: 0.85em;
}

.class_exp_11 {
    width: 30%;
    color: #555555;
    font-family: MontserratAlternates;
    font-weight: bold;
}

.class_exp_12 {
    width: 70%;
    font-family: MontserratAlternatesBold;
    font-weight: bolder;
    color: #515151;
}

.class_exp_2 p {
    font-size: 0.85em;
}

.class_exp_21 {
    width: 30%;
    color: #555555;
    font-family: MontserratAlternates;
    font-weight: bold;
}

.class_exp_22 {
    width: 60%;
    font-family: Montserrat;
    font-weight: lighter;
    color: #515151;
}

#id_block_skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#id_skills {
    margin: 0 0 40px;
    padding: 0;
}

section article figure {
    width: 40%;
    margin: 20px 45px 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section article figure div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

section article figure figcaption {
    font-family: MontserratAlternatesBold;
    color: #555555;
    font-size: 0.95em;
}

section article figure img {
    width: 14px;
    padding: 0;
    margin: 0 0 0 6px;
}
